@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
  margin: 0;
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

code {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
